{% load staticfiles %}

<!Doctype html>
<!-- @author: Ankush Sharma-->
<!-- @email: ankprashar@gmail.com-->
<html lang="en">
<head>
    <title> Tweety,suggest you tweets </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="Tweety is a markov bot that suggest you tweets based upon your tweet history.">
    <meta name="keywords" content="tweet-suggester,suggest-tweets-based-on-your-tweet-history,what-would-i-tweet,twitter,Ankush Sharma,black-perl,darxtrix,markov,markov-bot,darxtrix">
    <meta name="author" content="Ankush Sharma,IIT BHU,darxtrix">

    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href = {% static 'img/favicon.png' %} />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href = {% static 'css/main.css' %} rel = 'stylesheet' type = 'text/css' />
</head>

<body>
    <div id = "head_container">
        <a href="https://github.com/darxtrix/Tweety.git"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork tweety by darxtrix on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>
        <div id = "head_wrapper">
            <img src = {% static "img/tweety.jpg" %} id="logo" alt="Tweety,heroku app"/>
            <h1> <a href="http://tweety.herokuapp.com"> Tweety </a> </h1>
            <!-- Tweety is a markov bot that suggest users what to tweet based on their tweet history. -->
            <h2> A tweet suggester .. Predict tweets for you based on your tweet history. </h2>
        </div>
    </div>

    <div id = "wrapper" class="form">
            <p class = "outer_p"> Enter a twitter user name </p>
            <label for = "username"> @ </label>
            <input type = "text" name = "screen_name" id="handle" value = "" placeholder="Twitter username"/>
            <p class = "outer_p">
            <button id = "fetchTweets"> Generate </button>
            </p> 
            <p id = "error"></p>
    </div>
    <div id="media">
            <iframe src="https://ghbtns.com/github-btn.html?user=darxtrix&repo=Tweety&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <a class="twitter-follow-button" href="https://twitter.com/darxtrix" data-show-count='false' data-size="large">
                Follow @darxtrix
            </a>
    
    </div>

    <div id= "tweetWrapper" style='display:none'>
            <p>
            <blockquote id = "tweetBox"></blockquote>
            </p>
            <div id="navigation">
                <i class="fa fa-arrow-left" id='previousTweet'></i>
                <span> &nbsp; &nbsp;</span>
                <i class="fa fa-arrow-right" id='nextTweet'></i>
            </div>
    </div>
     
    <p style="clear:both;"></p>
    <footer id="foot">
        <div id="wrap">
            <p> Made with Django and lots of &lt;3 </p>
        </div>
    </footer>

    <script type="text/javascript">
        window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script src = {% static 'js/main.js' %} type = 'text/javascript'> </script>
</body>
</html>


