{% load staticfiles %}

<!doctype html>
<html>
<head>
    <meta charset = 'UTF-8' lang = 'en' />
    <title> Tweety </title>
    <link rel="shortcut icon" type="image/png" href = {% static 'img/favicon.png' %} />
    <link href = {% static 'css/main.css' %} rel = 'stylesheet' type = 'text/css' />
    <srcipt href = {% static 'js/main.js' %} type = 'text/javascript'> </srcipt>
</head>

<body>
    <div id = "head_container">
        <a href="https://github.com/black-perl/Tweety.git"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>
        <div id = "head_wrapper">
            <img src = {% static "img/twitter-logo.jpg" %} id="logo"/>
            <h1> <a href="/"> Tweety </a> </h1>
            <h2> Suggests tweets based on your tweet history.. </h2>
        </div>
    </div>

    <div id = "wrapper" >
        <form action = "/get_tweets" method = "GET" class = "form">
            <p class = "outer_p"> Enter a twitter user name </p>
            <label for = "username"> @ </label>
            <input type = "text" name = "screen_name" placeholder="Twitter username"/>
            <p class = "outer_p">
            <input type = "submit" id = "button" value = "Generate"/>
            </p> 
            {% if errors %}
            <p id = "error"> {{ errors }} </p>
            {% endif %}
        </form>
    </div>
    
    {% if tweets %}
    <div id= "tweet">
            <p>
            <blockquote id = "tweetBox"> {{ tweets.0 }} </blockquote>
            </p>
    </div>
    {% endif %}
    
    <p style="clear:both;"></p>
    <footer id="foot">
        <div id="wrap">
            <p> Made with Django and lots of &lt;3 </p>
        </div>
    </footer>

</body>
</html>


